body{

margin:0;
font-family:Arial;
background:black;
color:white;

}

nav{

display:flex;
justify-content:space-between;
padding:20px 40px;
background:#020617;

}

nav ul{

display:flex;
gap:20px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

text-align:center;
padding:120px;

}

#terminal{

color:#00ff9c;
font-size:40px;

}

section{

padding:60px;
text-align:center;

}

.skill{

width:60%;
margin:20px auto;

}

.bar{

background:#222;
height:10px;

}

.bar div{

background:#00ff9c;
height:10px;

}

.projects{

display:flex;
gap:20px;
justify-content:center;

}

.project{

background:#111;
padding:20px;
border-radius:10px;
width:250px;

}

#repos{

display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;

}

.repo{

background:#111;
padding:20px;
border-radius:10px;
width:250px;

}

#globe{

height:400px;

}

#network{

height:400px;

}

#chatbot{

position:fixed;
bottom:20px;
right:20px;
background:#111;
width:250px;
padding:10px;

}

#chat-messages{

height:150px;
overflow:auto;

}

canvas{

position:fixed;
top:0;
left:0;
z-index:-1;

}
